*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
#container{
    height:100%;
    width: 100%;
    background-color: beige;
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#english{
    width: 3px;
    height: 30px;
    float: right;
}