.border{
    border: 1px solid red;
}
.xy-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-item{
    border-bottom: 1px solid lightgray;
    /*opacity: 0.5;*/
}
